.jumbotron{
    background-color: #AFEBAB !important;
    font-family: 'Sacramento', cursive;
}
#personalInfo {
    font-family: 'Sacramento', cursive;
    font-size: 250%;
    padding: 2%;
    border-radius: 15%;

}

#searchInput{
    border: #D2FFCE;
    font-family: 'Sacramento', cursive;
    font-size: 200%;
}

#urlForm{
    
    font-family: 'Sacramento', cursive;
    font-size: 150%;
}

#Offset{
    
    font-family: 'Sacramento', cursive;
    font-size: 150%;
}

#mirrored{
    margin-top: 15px;
    
}

#buttons{
    margin-top: 2%;
    font-family: 'Sacramento', cursive;
    font-size: 150%;
}
.material-icons{
    margin-top: 5%;
}

#prewText{
    font-size: 200%;
}
#rotaText{
    font-size: 200%;
}
#rotationButton{
    padding-top: 20%;
    margin-top: 10px;
    border-color: white;
}
#previewButton{
    padding-top: 20%;
    margin-top: 10px;
    border-color: white;
}


#previewCanvas{
    position: absolute;
    top: 100%;
    left: 0%;
    border: 3px solid #73AD21;

    display: none;
}


@media only screen and (max-width: 800px) {
    #previewCanvas {
        position: unset;
        display: none;
    }
}


@media only screen and (max-width: 550px) {
    #previewCanvas {
        position: unset;
        width: 100%;
        height: 90%;
        display: none;
    }
}

#outer {
    width: 100px;
    height: 100px;
    border-radius: 500px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .form-dark .md-form label {
    color: #fff;
  }
  .form-dark input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
  }
  .form-dark input[type=text]:focus:not([readonly]) + label {
    color: #fff;
  }
  .form-dark textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851;
    color: #fff;
  }


  .form{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
  
  #login{
      color: #00C851;
      font-weight: bold;
  }

  #commercials{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: -1;
  }

  #adv1 {
      max-width: 100%;
      height: auto;
  }

  #adv2 {
    max-width: 100%;
    height: auto;
}

#adv3 {
    max-width: 100%;
    height: auto;
}

#adv4 {
    max-width: 100%;
    height: auto;
}