#buttons{
    margin-top: 2%;
}
.material-icons{
    margin-top: 5%;
}
#rotationButton:active{
    background-color: red;
}
.web-cam video {
    width:320px ;
    height:320px;
    border-radius: 80%;
}